.image-description {
  position: relative;
  transform: translate(0, -100%);
  left: 0;
  display: block;
  z-index: 2;
  width: 100%;
  color: white;
  background-color: rgba(11,11,11,0.64);
  text-align: center;
}

news-img {
  object-fit: cover;
  height: 420px;
}

a.active {
  border-bottom: 5px var(--bs-primary) solid;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: inherit;
}

.navbar {
  --bs-navbar-color: inherit;
}

.navbar-brand {
  /*color: rgba(11,11,11,0.64);*/
}

.navbar {
  --bs-navbar-brand-color: inherit;
}

:root {
  --bs-body-bg: linear-gradient(#f67273, #ffc368 99%), #f98a6b !important;
  background: linear-gradient(#f67273, #ffc368 99%), #f98a6b;
}

