w-100 {
  width: 100%;
}

.shadow {
  box-shadow: 0.5rem 0.5rem 0.2rem rgba(0,0,0,.15)!important;
}

:root {
  --bs-body-bg: #fff8ef;
  --bs-blue: #0000a3;
}

full-width {
  max-width: none !important;
}

.full-width {
  max-width: none;
}

.img-thumbnail {
  object-fit: cover;
  background-color: #feffcb;
}

.nav-bar {
  /*--bs-nav-link-font-size: 0;*/
}

.news {
  border: 1px solid rgb(194,194,194);
  max-width: 900px;
  background-color: #fffdfb;
}

.author {
}

b-white {
  background-color: #ffffff;
}

.navbar-nav li {
  font-weight: initial;
}

.navbar-nav li .active {
  font-weight: bold;
}

.navbar {
  --bs-navbar-padding-y: 0;
  font-family: 'M PLUS Rounded 1c';
  /*font-weight: 500;*/
}

:root {
  --bs-nav-link-font-size: 10pt;
  /*--bs-navbar-nav-link-padding-x: 0;*/
  --bs-primary-rgb: 101,218,236;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 0;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-hover-color: #f98a6b;
}

:root {
  --bs-body-font-family: 'M PLUS Rounded 1c', sans-serif;
  /*--bs-primary: #00d1ff;*/
}

.news p {
  font-family: 'Noto Sans JP', sans-serif;
}

.news .img-thumbnail {
  height: 350px;
}

.youtube img {
  height: 250px;
  border: none;
  padding: 0;
}

img {
}

y {
}

.ml-2 {
  margin-left: .5rem !important;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

:root {
  /*--bs-body-bg: linear-gradient(90deg, rgba(255,207,113,1) 0%, rgba(255,242,208,1) 12%, rgba(255,242,208,1) 88%, rgba(255,207,113,1) 100%) !important;*/
}

.instagram .img-thumbnail {
  height: 250px;
  padding: 0;
  border: 0;
}

.youtube .col {
  height: 250px;
}

