.image-description {
  position: relative;
  transform: translate(0, -100%);
  left: 0;
  display: block;
  z-index: 2;
  width: 100%;
  color: white;
  background-color: rgba(11, 11, 11, 0.64);
  text-align: center;
}
